<div class="container">
  <div class="row" style="margin-top: 100px">
    <div class="col">
      <h1 class="text-center">Merci</h1>
      <p class="mt-5 text-white p-5 bg-primary">
        Pour confirmer votre inscription et pouvoir recevoir des propositions de {{ personOfInterest }} consultez le mail qui vient de vous être envoyé.
        Si toutefois vous ne receviez pas dans les prochaines minutes un mail de confirmation de votre inscription, pensez à vérifier vos spams.
      </p>
      <p class="text-center mt-5">
        <a [href]="c.landingUrl">Revenir à l'accueil</a>
      </p>
    </div>
  </div>
</div>
