<footer style="border-top: 2px solid rgb(0, 0, 145);">
  <div class="container pt-5 px-0">
    <div class="d-flex">
      <div class="logos">
        <img class="marianne" src="/assets/img/logo-republique-francaise.png"/>
        <img class="france-relance" src="/assets/img/logo-france-relance-alt.svg"/>
      </div>
      <div class="rf-footer__content pl-5">
        <ul class="rf-footer__content-links">
            <li>
                <a href="https://agence-cohesion-territoires.gouv.fr">Agence Nationale de la Cohésion des
                    Territoires</a>
            </li>
            <li>
                <a href="https://societenumerique.gouv.fr">Mission Sociétés Numérique</a>
            </li>
            <li>
                <a href="https://incubateur.anct.gouv.fr">Incubateur des territoires</a>
            </li>
        </ul>
    </div>
    </div>
  </div>
  <div class="py-3 text-gray">
    <div class="container bottom rf-footer__bottom">
      <ul class="rf-footer__bottom-list">
        <li>
            <a href="https://aide.conseiller-numerique.gouv.fr/fr/">FAQ</a>
        </li>
        <li>
            <a href="accessibilite">Accessibilité : non conforme</a>
        </li>
        <li>
            <a href="mentions-legales">Mentions légales</a>
        </li>
        <li>
            <a href="confidentialite">Données personnelles</a>
        </li>
        <li>
            <a href="cgu">Conditions générales d'utilisation</a>
        </li>
    </ul>
    <div class="rf-footer__bottom-copy">
      © République Française 2020
  </div>
    </div>
  </div>
</footer>
