<footer style="border-top: 2px solid rgb(0, 0, 145);">
  <div class="container pt-5 px-0">
    <div class="rf-footer__body">
      <div class="rf-footer__brand" style="padding-left: 1rem;">
        <div class="rf-footer__brand rf-sur-mesure" style="flex-basis: auto;">
          <a [href]="c.landingUrl" title="République française">
              <img src="assets/img/logoRF.svg" width="96px" alt="République Française. Liberté Égalité Fraternité." class="header__logo-rf">
          </a>
        </div>
        <div class="rf-footer__operator logo-conseiller-numerique-footer">
          <img src="assets/img/logo-france-relance-alt.svg" alt="logo France Relance" style="height: 70px; margin-bottom: 7px; margin-left: 28px;">
        </div>
      </div>
      <div class="rf-footer__content" style="justify-content: flex-end;">
        <ul class="rf-footer__content-links" style="flex-direction: column;">
          <li style="margin-right: 0">
            <a href="https://agence-cohesion-territoires.gouv.fr">Agence Nationale de la Cohésion des
              Territoires</a>
          </li>
          <li style="margin-right: 0">
            <a href="https://societenumerique.gouv.fr">Programme Société Numérique</a>
          </li>
          <li style="margin-right: 0">
            <a href="https://incubateur.anct.gouv.fr">Incubateur des territoires</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="py-3 text-gray">
    <div class="container bottom rf-footer__bottom">
      <ul class="rf-footer__bottom-list">
        <li>
            <a href="https://aide.conseiller-numerique.gouv.fr/fr/">FAQ</a>
        </li>
        <li>
            <a href="https://www.conseiller-numerique.gouv.fr/accessibilite">Accessibilité : non conforme</a>
        </li>
        <li>
            <a href="https://www.conseiller-numerique.gouv.fr/mentions-legales">Mentions légales</a>
        </li>
        <li>
          <a href="https://cellar-c2.services.clever-cloud.com/conseiller-numerique/CGU-Donn%C3%A9es_personnellesConseiller_Num%C3%A9rique.pdf">Conditions générales d'utilisation</a>
        </li>
    </ul>
    <div class="rf-footer__bottom-copy">
      © République Française 2021
  </div>
    </div>
  </div>
</footer>
