<footer style="border-top: 2px solid rgb(0, 0, 145);">
  <div class="container py-5">
    <div class="d-flex">
      <div class="logos">
        <img class="marianne" src="/assets/img/logo-republique-francaise.png"/>
        <img class="france-relance" src="/assets/img/logo-france-relance-alt.svg"/>
        <img class="france-services" src="/assets/img/logo-france-services.svg"/>
      </div>
      <div class="anct ml-auto">
        <ul>
          <li><a href="https://agence-cohesion-territoires.gouv.fr/">Agence Nationale de la Cohésion des Territoires</a></li>
          <li><a href="https://societenumerique.gouv.fr/">Programme Société Numérique</a></li>
          <li><a href="https://incubateur.anct.gouv.fr/">Incubateur des territoires</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="py-3 text-gray">
    <div class="container bottom">
      <ul>
        <li>
          <a href="">CGU</a>
        </li>
        <li>
          Accessibilité : non conforme
        </li>
        <li>
          <a href="">Mentions légales</a>
        </li>
      </ul>
      <span class="float-right">
        © République Française 2020
      </span>
    </div>
  </div>
</footer>
