
.comp-radio-buttons-container {
  background-color: #E5ECF7;
}

.comp-radio-button {
  padding-left: 35px !important;
}

.comp-radio-button-label {
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

.comp-datepicker-container {
  background-color: white;
  border-radius: 5px;
}
