<nav class="navbar navbar-expand-lg navbar-light" style="padding: 1.5rem;">
  <div class="container" style="padding-left: 1.4rem">
    <div class="rf-header__brand rf-sur-mesure">
      <a [href]="c.landingUrl" title="République française" style="box-shadow: none;">
        <img src="assets/img/logo-rf-conseiller-numerique.svg" style="height:70px" alt="République Française. Liberté Égalité Fraternité." class="header__logo-rf">
      </a>
  </div>
    <button class="navbar-toggler" (click)="isNavbarDisplay = !isNavbarDisplay" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngbCollapse]="!isNavbarDisplay" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link nav-linkCustom" [routerLink]="'/candidature/conseiller'">Devenir conseiller <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link nav-linkCustom" [routerLink]="'/candidature/structure'">Engager un conseiller <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
